# Compiled source #
###################
*.class
*.o
*.so

# Android #
############
*.apk
*.ap_
*.dex
local.properties

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# LaTeX #
######################
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.ps
*.tex~
*.toc
*_minted*

## Bibliography auxiliary files (bibtex/biblatex/biber):
######################
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
######################
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.synctex.gz(busy)

# algorithms
######################
*.alg
*.loa

# theorems
######################
# amsthm
*.thm

# beamer
######################
*.nav
*.snm
*.vrb

# glossaries
######################
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
######################
*.brf

# listings
######################
*.lol

# makeidx
######################
*.idx
*.ilg
*.ind
*.ist

# minitoc
######################
*.maf
*.mtc
*.mtc0

# minted
######################
*.pyg

# nomencl
######################
*.nlo

# todonotes
######################
*.tdo

# xindy
######################
*.xdy

# Vim #
######################
*.project.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Java #
######################
*.ear
*.jar
*.war
*.ant_targets

# Gradle #
######################
.gradle
gradle
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs

# Python #
######################

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
include/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.python-version
celerybeat-schedule
.env
.venv/
venv/
ENV/
bin/
share/
lib64
pip-selfcheck.json
pyvenv.cfg


# NLTK #
######################
nltk_data

# R #
######################
*-Ex.R
*.RData
*.Rdata
*.Rhistory
*.Rincr_history

# CTags #
######################
tags
.tags
tags.lock
tags.temp
tags.tmp

# Extra files #
######################
*.xmi
*.sync
*.jekyll-metadata

# GatorGrader files #
######################
.gatorgrader_log
nltk_data
