[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
requests = ">=2.20.0"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
six = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
pytest-sugar = "*"
neovim = "*"

[pipenv]
allow_prereleases = true
