[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
requests = ">=2.20.0"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
six = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
pytest-sugar = "*"
neovim = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest -x -s"
cover = "pytest -s --cov-config pytest.cov --cov-report term-missing --cov"
# this is sh specific, and will only work on osx and linux
lint = "sh -c \"black --check **/*.py *.py && pylint **/*.py *.py && flake8 **/*.py *.py\""
