[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
requests = ">=2.20.0"
commonmark = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
six = "*"
codecov = "*"
flake8 = "*"
pytest-cov = "*"
pytest-sugar = "*"
neovim = "*"
mutmut = "*"
bandit = "*"
codacy-coverage = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "./scripts/test.sh"
cover = "./scripts/cover.sh"
lint = "./scripts/lint.sh"
test-win = "scripts/test.bat"
cover-win = "scripts/cover.bat"
lint-win = "scripts/lint.bat"
